.header {
  background-image: url("../header/header-liquid.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

@media (width <= 768px) {
  .header {
    background-position: right center !important;
  }
}
